{% extends "layout" %}
{% import "tables" as tables %}
{% block title %}
    {{ host }} is <span style="padding:0.25em 0.5em;background-color:red;color:white;">DOWN</span>
{% endblock %}
{% block content %}
{{ tables.details_table([
    ("Website", '<a href="{0}">{0}</a>'.format(url)),
    ("Response", status_code),
    ("Attempted at", request_time),
]) }}
{% endblock %}